.userinfo {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons img {
    width: 11px;
    height: 11px;
    cursor: pointer;
}