.detail {
    flex: 1;

    .user {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid #dddddd35;

        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }

    .info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .option {
            .title {
                display: flex;
                align-items: center;
                justify-content: space-between; 


                img {
                    width: 27px;
                    height: 27px;
                    background-color: rgba(17, 25, 40, 0.3);
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            
        }

        .photos {
            display: flex;
            flex-direction: column;
            gap: 20px;
        

            .photo-item {
                margin-top: 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .photo-detail {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    img {
                        width: 27px;
                        height: 27px;
                        border-radius: 5px;
                        object-fit: cover;
                    }

                    span {
                        font-size: 10px;
                        color: lightgrey;
                        font-weight: 300;
                    }
                }

                .download-img {
                    width: 27px;
                    height: 27px;
                    background-color: rgba(17, 25, 40, 0.3);
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }

        button {
            padding: 8px 20px;
            font-size: 13px;
            background-color: rgba(230, 74, 105, 0.553);
            color: white;
            border: none;
            outline: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: rgba(230, 74, 105, 1);
        }

        .logout {
            background-color: #1a73e8;
        }
    }
}